{deps,
 [{of_protocol, ".*",
% use a local repo until the following changes are merged:
%	https://github.com/FlowForwarding/of_protocol/pull/17
%	https://github.com/FlowForwarding/of_protocol/pull/18
%	https://github.com/FlowForwarding/of_protocol/pull/19
%	https://github.com/FlowForwarding/of_protocol/pull/20
%	https://github.com/FlowForwarding/of_protocol/pull/23
%
% {git, "http://github.com/FlowForwarding/of_protocol.git", {branch, "master"}}
   {git, "http://github.com/yamt/of_protocol.git", {branch, "ryu"}}
}]}.
